/* paleta de colores */
/* #4A4466 */
/* #6EADBC */
/* #9FCBAD */
/* #F1F7D4 */
:root {
  /* Paleta principal */
  --bg-principal: #f4f4f6;
  --bg-oscuro: #261c37;
  --bg-tarjeta-clara: #eaeaea;
  --color-acento: #52bdb3;
  --verdecito: #9fcbad;

  /* Texto */
  --texto-oscuro: #111111;
  --texto-claro: #ffffff;
}
@import url("https://googleapis.com");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: var(--bg-oscuro);
  width: 100%;
  max-width: 1920px;
  min-width: 371px;
  font-size: 24px;
  padding: 28px;
  text-align: center;
  color: var(--texto-claro);
}
header > nav,
a {
  font-size: 16px;
  justify-content: center;
  display: flex;
  color: var(--texto-claro);
  /* flex-direction: row; */
  text-decoration: none;
}
ul {
  display: flex;
  gap: 1em;
}
li {
  list-style-type: none;
  margin: 0px auto;
  /* border-left: 3px solid white; */
  padding: 0 0 0 10px;
  /* background-color: blue; */
  transform: translate(10px, 25px);
}
a {
  text-decoration: none;
  color: #ffffff;
  padding-bottom: 4px;
}
a:hover {
  cursor: pointer;
  transition: background-size 0.3s ease-in-out;
  border-left: 3px white solid;
  border-radius: 2px;
  padding: 0 0 0 4px;
}
a {
  text-decoration: none;
  color: #ffffff;
  padding-bottom: 4px;
  cursor: pointer;
  /* Configuración del "borde" usando un fondo lineal */
  background-image: linear-gradient(#ffffff, #ffffff);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  /* Transición inicial  */
  transition: background-size 0.3s ease-in-out;
}
a:hover {
  /* El ancho cambia al 100% al hacer hover */
  background-size: 100% 2px;

  /* Mantener otras propiedades del diseño anterior */
  border-left: 3px white solid;
  border-radius: 2px;
  padding: 0 0 4px 4px;
}
main {
  background-color: var(--bg-principal);
}
article {
  background-color: var(--verdecito);
  width: 50vw;
  display: block;
  margin-left: 40px;
  padding: 50px;
  border-radius: 15px;
}
h2 {
  text-align: center;
}
